<template>
  <div class="overflow-auto">
    <div class="row row-cols-2">

<div class="col text-left">
        <h1>
          ประกาศ
          <b-button variant="success" @click="addNewUser">เพิ่ม</b-button>
        </h1>
      </div>
      <div class="col text-right">
        <b-nav-form class="float-right" style="margin-top:10px;">
          <b-form-input class="mr-sm-2" placeholder="Search"></b-form-input>
          <b-button class="my-2 my-sm-0" type="submit" variant="info"
            >ค้นหา</b-button
          >
        </b-nav-form>
      </div>
    </div>
    <b-modal
      id="modal-form-user"
      ref="modal-form-user"
      :title="title"
      @hidden="resetModal"
      @ok="handleOk"
    >
      <form ref="form" @submit.stop.prevent="handleSubmit">
        <b-form-group
          label="หัวข้อ"
          label-for="name"
          :invalid-feedback="invalidFeedbackName"
          :valid-feedback="validFeedbackName"
          :state="stateName"
        >
          <b-form-input id="name" v-model="form.name" required></b-form-input>
        </b-form-group>

        <b-form-textarea
          label="เนื้อหา"
          label-for="content"
          id="content"
          v-model="form.content"
          rows="3"
          max-rows="6"
          :invalid-feedback="invalidFeedbackContent"
          :valid-feedback="validFeedbackContent"
          :state="stateContent"
        >
        </b-form-textarea>
      </form>
      <b-card class="mt-3" header="Form Data Result">
        <pre class="m-0">{{ form }}</pre>
      </b-card>
    </b-modal>
    <b-table
      striped
      hover
      id="my-table"
      :items="userList"
      :per-page="perPage"
      :current-page="currentPage"
      :fields="fields"
    >
      <template v-slot:cell(operation)="data">
        <b-button @click="editUser(data.item)">แก้ไข</b-button>
        &nbsp;
        <b-button variant="danger" @click="delUser(data.item)">ลบ</b-button>
      </template>
    </b-table>
    <b-pagination
      v-model="currentPage"
      :total-rows="rows"
      :per-page="perPage"
      aria-controls="my-table"
    ></b-pagination>
  </div>
</template>

<script>
export default {
  data () {
    return {
      perPage: 5,
      currentPage: 1,
      title: 'เพิ่มผู้ใช้ใหม่',
      form: {
        id: -1,
        name: '',
        content: ''
      },
      userList: [
        {
          id: 1,
          name: 'แจ้งนิสิตปี3',
          content: 'ประกาศจากบริษัทไทยซัมซุงเปิดรับ บลาๆๆๆๆๆๆ'
        },
        {
          id: 2,
          name: 'ส่งเอกสาร1',
          content: 'ประกาศจากบริษซีดีอีเอฟจี บลาๆๆๆๆๆๆ'
        },
        {
          id: 3,
          name: 'ส่งเอกสาร2',
          content: 'ประกาศจากบริบีซีyhthhhh บลาๆๆๆๆๆๆ'
        },
        {
          id: 4,
          name: 'ส่งเอกสาร3',
          content: 'ประกาศจากบริษัทเอhthhhhดีอีเอฟจี บลาๆๆๆๆๆๆ'
        },
        {
          id: 5,
          name: 'ส่งเอกสาร4',
          content: 'ประกาศจากบริษัทเอบีhhhhhอีเอฟจี บลาๆๆๆๆๆๆ'
        },
        {
          id: 6,
          name: 'ส่งเอกสาร5',
          content: 'ประกาศจากบริษัทเอบีซีyhthhเอฟจี บลาๆๆๆๆๆๆ'
        }
      ],
      lastId: 7,
      fields: [
        { key: 'id', label: 'ลำดับ' },
        { key: 'name', label: 'หัวข้อ' },
        { key: 'content', label: 'เนื้อหา' },
        { key: 'operation', label: 'operation' }
      ]
    }
  },
  methods: {
    addNewUser () {
      console.log('Add new user')
      this.$bvModal.show('modal-form-user')
    },
    editUser (user) {
      console.log('Edit ')
      console.log(user)
      this.title = 'แก้ไขผู้ใช้'
      this.form = { ...user }
      this.$bvModal.show('modal-form-user')
    },
    delUser (user) {
      console.log('Del ')
      console.log(user)
      this.$bvModal
        .msgBoxConfirm('ท่านต้องการลบ ' + user.name + ' หรือไม่!!!!', {
          title: 'กรุณายืนยัน',
          size: 'sm',
          buttonSize: 'sm',
          okVariant: 'danger',
          okTitle: 'YES',
          cancelTitle: 'NO',
          footerClass: 'p-2',
          hideHeaderClose: false,
          centered: true
        })
        .then(value => {
          if (value) {
            this.deleteUser(user)
          }
        })
    },
    resetModal () {
      this.form = {
        id: -1,
        name: '',
        gender: null,
        content: ''
      }
    },
    handleOk (bvModalEvt) {
      // Prevent modal from closing
      bvModalEvt.preventDefault()
      // Trigger submit handler
      this.handleSubmit()
    },
    handleSubmit () {
      // check validate
      if (this.stateName === false || this.stateContect === false) {
        return
      }
      // Do when pass validation
      if (this.form.id > 0) {
        this.updateUser(this.form)
      } else {
        this.addUser(this.form)
      }
      // Hide the modal manually
      this.$nextTick(() => {
        this.$bvModal.hide('modal-form-user')
      })
    },
    addUser (user) {
      user.id = this.lastId++
      this.userList.push(user)
    },
    updateUser (user) {
      const index = this.userList.findIndex(item => item.id === user.id)
      this.userList.splice(index, 1, user)
    },
    deleteUser (user) {
      const index = this.userList.findIndex(item => item.id === user.id)
      this.userList.splice(index, 1)
    }
  },
  computed: {
    stateName () {
      return this.form.name.length >= 2
    },
    invalidFeedbackName () {
      if (this.form.name.length > 2) {
        return ''
      } else if (this.form.name.length > 0) {
        return 'ชื่อต้องมีขนาดอย่างน้อย 2 ตัวอักษร'
      } else {
        return 'ต้องใส่ชื่อ'
      }
    },
    validFeedbackName () {
      return this.stateName === true ? 'สำเร็จ' : ''
    },
    stateContent () {
      return this.form.content.length >= 15
    },
    invalidFeedbackContent () {
      if (this.form.content.length > 15) {
        return ''
      } else if (this.form.content.length > 0) {
        return 'ต้องมีเนื้อหาขนาดอย่างน้อย 15 ตัวอักษร'
      } else {
        return 'ต้องมีเนื้อหา'
      }
    },
    validFeedbackContent () {
      return this.stateContent === true ? 'ประกาศสำเร็จ' : ''
    },
    rows () {
      return this.userList.length
    }
  }
}
</script>
