<style scoped>
.table {
  text-align: center;
}

.head1 {
  display: inline-block;
}

.head2 {
  float: none;
  display: inline-block;
  margin-left: 30px;
}

.head3 {
  display: inline-block;
  float: right;
  margin-top: 15px;
}

button {
  padding-left: 30px;
  padding-right: 30px;
}
</style>

<template>
  <div>
    <div class="head1">
      <h2>ข้อมูลการอบรมสหกิจ</h2>
    </div>
    <div class="head2">
      <b-button variant="success" @click="addNew">เพิ่ม</b-button>
    </div>
    <b-nav-form class="head3">
      <b-form-input
        size="sm"
        class="mr-sm-2"
        placeholder="Search"
      ></b-form-input>
      <b-button variant="outline-success" class="my-2 my-sm-0" type="submit"
        >ค้นหา</b-button
      > </b-nav-form
    ><br /><br />
    <div class="table">
      <b-modal
        id="modal-form-user"
        ref="modal-form-user"
        :title="title"
        @hidden="resetModal"
        @ok="handleOk"
      >
        <form ref="form" @submit.stop.prevent="handleSubmit">
          <b-form-group
            label="ชื่อโครงการ"
            label-for="name"
            :invalid-feedback="invalidFeedbackName"
            :valid-feedback="validFeedbackName"
            :state="stateName"
          >
            <b-form-input id="name" v-model="form.name" required></b-form-input>
          </b-form-group>

          <b-form-group
            label="ประเภทโครงการ"
            label-for="type"
            :invalid-feedback="invalidFeedbackType"
            :valid-feedback="validFeedbackType"
            :state="stateType"
          >
            <b-form-select
              id="type"
              v-model="form.type"
              :options="typeOption"
              required
            ></b-form-select>
          </b-form-group>

          <b-form-group
            label="วันที่จัดงาน"
            label-for="date"
            :invalid-feedback="invalidFeedbackDate"
            :valid-feedback="validFeedbackDate"
            :state="stateDate"
          >
            <b-form-input id="date" v-model="form.date" required></b-form-input>
          </b-form-group>

          <b-form-group
            label="เวลา"
            label-for="time"
            :invalid-feedback="invalidFeedbacktime"
            :valid-feedback="validFeedbacktime"
            :state="statetime"
          >
            <b-form-input id="time" v-model="form.time" required></b-form-input>
          </b-form-group>

          <b-form-group
            label="สถานที่"
            label-for="room"
            :invalid-feedback="invalidFeedbackRoom"
            :valid-feedback="validFeedbackRoom"
            :state="stateRoom"
          >
            <b-form-input id="room" v-model="form.room" required></b-form-input>
          </b-form-group>

          <b-form-group
            label="จำนวนชม."
            label-for="hours"
            :invalid-feedback="invalidFeedbackHours"
            :valid-feedback="validFeedbackHours"
            :state="stateHours"
          >
            <b-form-input
              id="hours"
              v-model="form.hours"
              required
            ></b-form-input>
          </b-form-group>
        </form>

        <b-card class="mt-3" header="Form Data Result">
          <pre class="m-0">{{ form }}</pre>
        </b-card>
      </b-modal>
      <b-table
        striped
        hover
        :items="userList"
        :fields="fields"
        id="my-table"
        :per-page="perPage"
        :current-page="currentPage"
      >
        <template v-slot:cell(operation)="data">
          <b-button variant="success" @click="check(data.item)">เช็ค</b-button>
          &nbsp;
          <b-button variant="warning" @click="editUser(data.item)"
            >แก้ไข</b-button
          >
          &nbsp;
          <b-button variant="danger" @click="delUser(data.item)">ลบ</b-button>
        </template>
      </b-table>

      <div class="overflow-auto">
        <b-pagination
          v-model="currentPage"
          :total-rows="rows"
          :per-page="perPage"
          aria-controls="my-table"
        ></b-pagination>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  data () {
    return {
      perPage: 3,
      currentPage: 1,
      title: 'เพิ่มข้อมูลอบรม',
      form: {
        id: -1,
        name: '',
        type: '',
        date: '',
        time: '',
        room: '',
        hours: ''
      },
      typeOption: [
        { text: 'Select One', value: null },
        { value: '1', text: 'วิชาการ' },
        { value: '2', text: 'เตรียมความพร้อม' }
      ],
      userList: [
        {
          id: 1,
          name: 'UX/UI Design',
          type: 'วิชาการ',
          date: '16 กุมภาพันธ์  พ.ศ.2562',
          time: '13.00-16.00',
          room: 'ห้องประชุม IF-11M280',
          hours: '3'
        },
        {
          id: 2,
          name: 'G-able',
          type: 'เตรียมความพร้อม',
          date: '5 กันยายน พ.ศ.2562',
          time: '13.00-16.00',
          room: 'ห้องประชุม IF-4M210',
          hours: '3'
        }
      ],
      lastId: 3,
      fields: [
        { key: 'id', label: 'ลำดับ' },
        { key: 'name', label: 'ชื่อโครงการ' },
        { key: 'type', label: 'ประเภทโครงการ' },
        { key: 'date', label: 'วันที่จัดงาน' },
        { key: 'time', label: 'เวลา' },
        { key: 'room', label: 'สถานที่' },
        { key: 'hours', label: 'จำนวนชม.' },
        'operation'
      ]
    }
  },
  methods: {
    addNew () {
      console.log('Add new user')
      this.$bvModal.show('modal-form-user')
    },
    editUser (user) {
      console.log('Edit ' + user)
      console.log(user)
      this.title = 'แก้ไข'
      this.form = { ...user }
      this.$bvModal.show('modal-form-user')
    },
    delUser (user) {
      console.log('Del ' + user)
      console.log(user)
      this.boxTwo = ''
      this.$bvModal
        .msgBoxConfirm('ท่านต้องการลบ ' + user.name + ' หรือ ไม่!!!', {
          title: 'กรุณายืนยัน',
          size: 'sm',
          buttonSize: 'sm',
          okVariant: 'danger',
          okTitle: 'YES',
          cancelTitle: 'NO',
          footerClass: 'p-2',
          hideHeaderClose: false,
          centered: true
        })
        .then(value => {
          if (value) {
            this.deleteUser(user)
          }
        })
    },
    resetModal () {
      this.form = {
        id: -1,
        name: '',
        type: 'null',
        date: '',
        time: '',
        room: '',
        hours: ''
      }
    },
    handleOk (bvModalEvt) {
      // Prevent modal from closing
      bvModalEvt.preventDefault()
      // Trigger submit handler
      this.handleSubmit()
    },
    handleSubmit () {
      // Check Validate
      if (this.stateName === false || this.stateGender === false) {
        return
      }
      // Do when pass Validation
      if (this.form.id > 0) {
        this.updateUser(this.form)
      } else {
        this.addUser(this.form)
      }
      // Hide the modal manually
      this.$nextTick(() => {
        this.$bvModal.hide('modal-form-user')
      })
    },
    addUser (user) {
      user.id = this.lastId++
      this.userList.push(user)
    },
    updateUser (user) {
      const index = this.userList.findIndex(item => item.id === user.id)
      this.userList.splice(index, 1, user)
    },
    deleteUser (user) {
      const index = this.userList.findIndex(item => item.id === user.id)
      this.userList.splice(index, 1)
    }
  },
  computed: {
    stateName () {
      return this.form.name.length >= 2
    },
    invalidFeedbackName () {
      if (this.form.name.length > 2) {
        return ''
      } else if (this.form.name.length > 0) {
        return 'ชื่อต้องมีขนาดอย่างน้อย 2 ตัวอักษร'
      } else {
        return 'ต้องใส่ชื่อบริบัท'
      }
    },
    validFeedbackName () {
      return this.stateType === true ? 'สำเร็จ' : ''
    },
    stateType () {
      return this.form.type != null
    },
    invalidFeedbackType () {
      if (this.form.type != null) {
        return ''
      } else {
        return 'กรุณาเลือกโครงการ'
      }
    },
    validFeedbackType () {
      return this.stateType === true ? 'สำเร็จ' : ''
    },
    rows () {
      return this.userList.length
    }
  }
}
</script>
