<template>
  <div>
    <b-container class="bv-example-row">
      <b-row>
        <b-col><h3>รายชื่ออาจารย์</h3></b-col>
        <b-col
          ><b-button
            variant="success"
            class="float-left"
            @click="addNewProfessor()"
            >&nbsp;เพิ่ม&nbsp;</b-button
          ></b-col
        >
        <b-col>
          <b-nav-form>
            <b-form-input
              size="sm"
              class="mr-sm-2"
              placeholder="Search"
            ></b-form-input>
            <b-button size="sm" class="my-2 my-sm-0" type="submit"
              >Search</b-button
            >
          </b-nav-form></b-col
        >
      </b-row>
    </b-container>
    <h1></h1>

    <b-modal
      id="modal-form-professor"
      ref="modal-form-professor"
      :title="title"
      @hidden="resetModal"
      @ok="handleOk"
    >
      <form ref="form" @submit.stop.prevent="handleSubmit">
        <b-form-group
          label="ชื่อ-นามสกุล"
          label-for="name"
          :invalid-feedback="invalidFeedbackName"
          :valid-feedback="validFeedbackName"
          :state="stateName"
        >
          <b-form-input id="name" v-model="form.name" required> </b-form-input>
        </b-form-group>

        <b-form-group
          label="สาขา"
          label-for="branch"
          :invalid-feedback="invalidFeedbackBranch"
          :valid-feedback="validFeedbackBranch"
          :state="stateBranch"
        >
          <b-form-select
            id="branch"
            v-model="form.branch"
            :options="branchOptions"
            required
          ></b-form-select>
        </b-form-group>

        <b-form-group
          label="เบอร์ที่สามารถติดต่อได้"
          label-for="phoneNumber"
          :invalid-feedback="invalidFeedbackPhoneNumber"
          :valid-feedback="validFeedbackPhoneNumber"
          :state="statePhoneNumber"
        >
          <b-form-input id="phoneNumber" v-model="form.phoneNumber" required>
          </b-form-input>
        </b-form-group>

        <b-form-group
          label="อีเมลล์"
          label-for="email"
          :invalid-feedback="invalidFeedbackEmail"
          :valid-feedback="validFeedbackEmail"
          :state="stateEmail"
        >
          <b-form-input
            id="email"
            v-model="form.email"
            type="email"
            required
          ></b-form-input>
        </b-form-group>
      </form>
      <b-card class="mt-3" header="Form Data Result">
        <pre class="m-0">{{ form }}</pre>
      </b-card>
    </b-modal>
    <b-table striped hover :items="professorList" :fields="fields">
      <template v-slot:cell(operation)="data">
        <b-button @click="editProfessor(data.item)" variant="danger"
          >แก้ไข</b-button
        >&nbsp;
        <b-button @click="delProfessor(data.item)" variant="warning"
          >ลบ</b-button
        >
      </template>
    </b-table>
    <div class="overflow-auto">
      <b-pagination
        v-model="currentPage"
        :total-rows="rows"
        :per-page="perPage"
        aria-controls="my-table"
      ></b-pagination>

      <p class="mt-3">Current Page: {{ currentPage }}</p>

      <b-table
        id="my-table"
        :items="items"
        :per-page="perPage"
        :current-page="currentPage"
        small
      ></b-table>
    </div>
  </div>
</template>

<script>
import professorService from './ProfessorService'
export default {
  data () {
    return {
      perPage: 3,
      currentPage: 1,
      title: 'เพิ่มอาจารย์',
      form: {
        id: -1,
        name: '',
        branch: null,
        phoneNumber: '',
        email: ''
      },
      branchOptions: [
        { text: 'กรุณาเลือก...', value: null },
        { value: 'CS', text: 'วิทยาการคอมพิวเตอร์' },
        { value: 'IT', text: 'เทคโนโลยีสารสนเทศ' },
        { value: 'SE', text: 'วิศวกรรมซอฟต์แวร์' }
      ],
      professorList: [],
      fields: [
        { key: 'id', label: 'ลำดับ' },
        { key: 'name', label: 'ชื่อ-นามสกุล' },
        { key: 'branch', label: 'สาขา' },
        { key: 'phoneNumber', label: 'เบอร์' },
        { key: 'email', label: 'อีเมลล์' },
        'operation'
      ]
    }
  },
  methods: {
    addNewProfessor () {
      console.log('ADD')
      this.$bvModal.show('modal-form-professor')
    },
    editProfessor (data) {
      console.log('EDIT')
      console.log(data)
      this.title = 'แก้ไขอาจารย์'
      this.form = { ...data }
      this.$bvModal.show('modal-form-professor')
    },
    delProfessor (data) {
      console.log('DELETE')
      console.log(data)
      this.$bvModal
        .msgBoxConfirm('ต้องการลบ ' + data.name + ' ใช่หรือไม่', {
          title: 'แจ้งเตือน',
          size: 'sm',
          buttonSize: 'sm',
          okVariant: 'danger',
          okTitle: 'ตกลง',
          cancelTitle: 'ยกเลิก',
          footerClass: 'p-2',
          hideHeaderClose: false,
          centered: true
        })
        .then(value => {
          if (value) {
            // this.deleteProfessor(data)
            professorService.deleteProfessor(data)
            this.professorList = professorService.getProfessor()
          }
        })
    },
    resetModal () {
      this.form = {
        id: -1,
        name: '',
        branch: null,
        phoneNumber: '',
        email: ''
      }
    },
    handleOk (bvModalEvt) {
      // Prevent modal from closing
      bvModalEvt.preventDefault()
      // Trigger submit handler
      this.handleSubmit()
    },
    handleSubmit () {
      // check validate

      // Do when pass validation
      if (this.form.id > 0) {
        // this.updateProfessor(this.form)
        professorService.updateProfessor(this.form)
        this.professorList = professorService.getProfessor()
      } else {
        // this.addProfessor(this.form)
        professorService.addProfessor(this.form)
        this.professorList = professorService.getProfessor()
      }

      // Hide the modal manually
      this.$nextTick(() => {
        this.$bvModal.hide('modal-form-professor')
      })
    },
    addProfessor (data) {
      data.id = this.lastId++
      this.professorList.push(data)
    },
    updateProfessor (data) {
      const index = this.professorList.findIndex(item => item.id === data.id)
      this.professorList.splice(index, 1, data)
    },
    deleteProfessor (data) {
      const index = this.professorList.findIndex(item => item.id === data.id)
      this.professorList.splice(index, 1)
    }
  },
  computed: {
    stateName () {
      return this.form.name.length >= 5
    },
    invalidFeedbackName () {
      if (this.form.name.length > 5) {
        return ''
      } else if (this.form.name.length > 0) {
        return 'ชื่อต้องมีขนาดอย่างน้อย 5 ตัวอักษร'
      } else {
        return 'กรุณาใส่ชื่อ-นามสกุล'
      }
    },
    validFeedbackName () {
      return this.stateName === true ? 'สำเร็จ' : ''
    },
    stateBranch () {
      return this.form.branch != null
    },
    invalidFeedbackBranch () {
      if (this.form.branch != null) {
        return ''
      } else {
        return 'กรุณาเลือกสาขา'
      }
    },
    validFeedbackBranch () {
      return this.stateBranch === true ? 'สำเร็จ' : ''
    },
    statePhoneNumber () {
      return this.form.phoneNumber.length === 10
    },
    invalidFeedbackPhoneNumber () {
      if (this.form.phoneNumber.length === 10) {
        return ''
      } else if (this.form.phoneNumber.length > 0) {
        return 'เบอร์เป็นตัวเลข 10 ตัว'
      } else {
        return 'กรุณาใส่เบอร์'
      }
    },
    validFeedbackPhoneNumber () {
      return this.statePhoneNumber === true ? 'สำเร็จ' : ''
    },
    stateEmail () {
      return /^\w+([\\.-]?\w+)*@\w+([\\.-]?\w+)*(\.\w{2,3})+$/.test(
        this.form.email.value
      )
    },
    invalidFeedbackEmail () {
      if (
        /^\w+([\\.-]?\w+)*@\w+([\\.-]?\w+)*(\.\w{2,3})+$/.test(
          this.form.email.value
        )
      ) {
        return ''
      } else {
        return 'กรุณาใส่อีเมล์'
      }
    },
    validFeedbackEmail () {
      return this.stateEmail === true ? 'สำเร็จ' : ''
    }
  },
  mounted () {
    console.log('mounted')
    this.professorList = professorService.getProfessor()
  }
}
</script>
