<template>
  <div style="margin: 10px">
    <b-modal
      id="modal-form-user"
      ref="modal-form-user"
      scrollable="true"
      :title="title"
      @hidden="resetModal"
      @ok="handleOk"
    >
      <form ref="form" @submit.stop.prevent="handleSubmit">
        <b-form-group
          label="Username"
          label-for="username"
          :invalid-feedback="invalidFeedbackUsername"
          :valid-feedback="validFeedbackUsername"
          :state="stateUsername"
        >
          <b-form-input
            id="username"
            v-model="form.username"
            :disabled="disUser"
          ></b-form-input>
        </b-form-group>
        <b-form-group
          label="Name"
          label-for="name"
          :invalid-feedback="invalidFeedbackName"
          :valid-feedback="validFeedbackName"
          :state="stateName"
        >
          <b-form-input
            id="name"
            size="sm"
            v-model="form.name"
            required
          ></b-form-input>
        </b-form-group>
        <b-form-group
          label="Birthdate"
          label-for="birthdate"
          :invalid-feedback="invalidFeedbackBirthdate"
          :valid-feedback="validFeedbackBirthdate"
          :state="stateBirthdate"
        >
          <b-form-input
            id="birthdate"
            type="date"
            v-model="form.birthdate"
            required
          ></b-form-input>
        </b-form-group>
        <b-form-group
          label="Gender:"
          label-for="gender"
          :invalid-feedback="invalidFeedbackGender"
          :valid-feedback="validFeedbackGender"
          :state="stateGender"
        >
          <b-form-select
            id="gender"
            v-model="form.gender"
            :options="genderOptions"
            required
          ></b-form-select>
        </b-form-group>
        <b-form-group
          label="Age"
          label-for="age"
          :invalid-feedback="invalidFeedbackAge"
          :valid-feedback="validFeedbackAge"
          :state="stateAge"
        >
          <b-form-input
            id="age"
            type="number"
            min="1"
            max="100"
            v-model="form.age"
            required
          ></b-form-input>
        </b-form-group>
        <b-form-group
          label="Telephone Number"
          label-for="tels"
          :invalid-feedback="invalidFeedbackTels"
          :valid-feedback="validFeedbackTels"
          :state="stateTels"
        >
          <b-form-input
            id="tels"
            v-model="form.tels"
            minlength="10"
            maxlength="10"
            required
          ></b-form-input>
        </b-form-group>
        <b-form-group
          label="Email"
          label-for="email"
          :invalid-feedback="invalidFeedbackEmail"
          :valid-feedback="validFeedbackEmail"
          :state="stateEmail"
        >
          <b-form-input
            id="email"
            type="email"
            v-model="form.email"
            required
          ></b-form-input>
        </b-form-group>
        <b-form-group
          label="Bachelor"
          label-for="bachelor"
          :invalid-feedback="invalidFeedbackBachelor"
          :valid-feedback="validFeedbackBachelor"
          :state="stateBachelor"
        >
          <b-form-select
            id="bachelor"
            v-model="form.bachelor"
            :options="bachelorOptions"
            required
          ></b-form-select>
        </b-form-group>
        <b-form-group
          label="GPA"
          label-for="gpa"
          :invalid-feedback="invalidFeedbackGPA"
          :valid-feedback="validFeedbackGPA"
          :state="stateGPA"
        >
          <b-form-input id="gpa" v-model="form.gpa" required></b-form-input>
        </b-form-group>
        <table class="table table-striped">
          <thead>
            <tr>
              <th>ID</th>
              <th>Name</th>
              <th>Grade</th>
            </tr>
          </thead>
          <tbody>
            <template>
              <tr v-for="(item, i) in form.subjects" :key="i">
                <td>{{ item.id }}</td>
                <td>{{ item.name }}</td>
                <td>{{ item.grade }}</td>
              </tr>
            </template>
          </tbody>
        </table>
      </form>
      <b-card class="mt-3" header="Form Data Result">
        <pre class="m-0">{{ form }}</pre>
      </b-card>
    </b-modal>

    <h1>ข้อมูลนิสิต</h1>
    <b-button variant="success" class="float-left" @click="addNewUser()"
      >เพิ่มนิสิต</b-button
    >
    <!-- <b-form-input v-model="search" placeholder="Search"></b-form-input> -->
    <b-table striped hover :items="userList" :fields="fields">
      <template v-slot:cell(subjects[1].id)="data">
        {{ data.value }}
      </template>
      <template v-slot:cell(operation)="data">
        <b-button @click="editUser(data.item)">Edit</b-button>
        &nbsp;
        <b-button variant="danger" @click="delUser(data.item)">Delete</b-button>
      </template>
    </b-table>
  </div>
</template>

<script>
export default {
  data () {
    return {
      title: 'เพิ่มนิสิต',
      disUser: false,
      form: {
        id: -1,
        name: '',
        gender: null,
        bachelor: null
      },
      genderOptions: [
        { text: 'Select One', value: null },
        { value: 'M', text: 'Male' },
        { value: 'F', text: 'Female' }
      ],
      bachelorOptions: [
        { text: 'Select One', value: null },
        { value: 'CS', text: 'Computer Science' },
        { value: 'IT', text: 'Information Technology' }
      ],
      userList: [
        {
          id: 1,
          username: '60160055',
          name: 'ชัยชนะ สุดใจรัก',
          birthdate: '1998-06-22',
          gender: 'M',
          age: 22,
          tels: '0853997206',
          email: 'jainch24@gmail.com',
          bachelor: 'CS',
          gpa: 3.29,
          subjects: [
            { id: 1, name: 'Subject 1', grade: 4.0 },
            { id: 10, name: 'Subject 1', grade: 4.0 }
          ]
        },
        {
          id: 2,
          username: '60160059',
          name: 'Tinnapong Promautit',
          birthdate: '1998-06-22',
          gender: 'M',
          age: 22,
          tels: '0853997206',
          email: 'jainch24@gmail.com',
          bachelor: 'IT',
          gpa: 3.29,
          subjects: [{ id: 2, name: 'Subject 2', grade: 4.0 }]
        }
      ],
      lastId: 3,
      fields: [
        { key: 'id', label: 'ลำดับ' },
        { key: 'username', label: 'รหัสนิสิต' },
        { key: 'name', label: 'ชื่อ-นามสกุล' },
        { key: 'gpa', label: 'เกรดเฉลี่ย' },
        { key: 'subjects.id', label: 'รหัสวิชา' },
        'operation'
      ]
    }
  },
  methods: {
    addNewUser () {
      this.$bvModal.show('modal-form-user')
      this.disUser = false
    },
    addUser (user) {
      user.id = this.lastId++
      this.userList.push(user)
    },
    editUser (user) {
      this.title = 'แก้ไขนิสิต'
      this.form = { ...user }
      console.log(this.form.subjects)
      this.$bvModal.show('modal-form-user')
      this.disUser = true
    },
    updateUser (user) {
      const index = this.userList.findIndex(item => item.id === user.id)
      this.userList.splice(index, 1, user)
    },
    delUser (user) {
      this.boxTwo = ''
      this.$bvModal
        .msgBoxConfirm(
          'Please confirm that you want to delete ' + user.name + '?',
          {
            title: 'Please Confirm',
            size: 'md',
            buttonSize: 'md',
            okVariant: 'danger',
            okTitle: 'YES',
            cancelTitle: 'NO',
            footerClass: 'p-2',
            hideHeaderClose: false,
            centered: true
          }
        )
        .then(value => {
          if (value) {
            this.deleteUser(user)
          }
        })
    },
    deleteUser (user) {
      const index = this.userList.findIndex(item => item.id === user.id)
      this.userList.splice(index, 1)
    },
    resetModal () {
      this.form = {
        id: -1,
        name: '',
        gender: null
      }
    },
    handleOk (bvModalEvt) {
      // Prevent modal from closing
      bvModalEvt.preventDefault()
      // Trigger submit handler
      this.handleSubmit()
    },
    handleSubmit () {
      if (this.stateName === false || this.stateGender === false) {
        return
      }
      if (this.form.id > 0) {
        this.updateUser(this.form)
      } else {
        this.addUser(this.form)
      }

      // Hide the modal manually
      this.$nextTick(() => {
        this.$bvModal.hide('modal-form-user')
      })
    }
  },
  computed: {
    stateName () {
      return this.form.name.length >= 2
    },
    invalidFeedbackName () {
      if (this.form.name.length > 2) {
        return ''
      } else if (this.form.name.length > 0) {
        return 'Enter at least 2 characters'
      } else {
        return 'Please enter something'
      }
    },
    validFeedbackName () {
      return this.stateGender === true ? 'Success' : ''
    },
    stateGender () {
      return this.form.gender != null
    },
    invalidFeedbackGender () {
      if (this.form.gender != null) {
        return ''
      } else {
        return 'Please choose your gender.'
      }
    },
    validFeedbackGender () {
      return this.stateGender === true ? 'Success' : ''
    }
  }
}
</script>
